<table style="width:90%">
  <tr>
    <th class="center">Material</th>
    <th class="center">Encargado</th>
    <th class="center">Cantidad</th>
    <th class="center">Prioridad</th>
    <th class="center">Estado</th>
    <th class="center">Modificar</th>
    <th class="center">Aprobar</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr>
    <td class="center"><%= s.material %></td>
    <td class="center"><%= s.encargado_id %></td>
    <td class="center"><%= s.cantidad %></td>
    <td class="center"><%= s.prioridad %></td>
    <td class="center"><%= s.estado %></td>
  </tr>
  <% end %>
</table>
