<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<%= stylesheet_link_tag 'sessions' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% provide(:title, "Sistema GPI") %>

</head>
<body>
  <div class="login-box">
    <div class="row collapse expanded">
      <div class="small-12 medium-6 column small-order-2 medium-order-1">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="login-box-form-section">

            <%= f.label :rut %>
            <%= f.text_field :rut, class: 'form-control login-box-input' %>

          <%= f.label :contrasena %>
            <%= f.password_field :contrasena, class: 'form-control login-box-input' %>

            <%= f.submit "Log in", class: "button" %>

    <% end %>
  </div>
  </div>
  </div>
  </div>
</body>
