<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-auto column">
        <h1 align="center">Crear solicitud</h1>
<%= form_for(:solicitude, url:{:action=>'create'}) do |s| %>

<%= s.label :Material %>
<%= s.text_field :material, class: 'form-control', placeholder: 'Material' %>

<%= s.label :Cantidad %>
<%= s.number_field :cantidad, class: 'form-control' %>

<%= s.label :Prioridad %>
<%= s.number_field :prioridad, class: 'form-control' %>

<%= s.submit "Crear solicitud", class: 'button' %>

<% end %>
</div>
  </div>
</div>
