<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<%= stylesheet_link_tag 'perfiles' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% provide(:title, "Cliente Interno - Bienvenido" + " " + current_user.nombres + current_user.apellidos) %>

</head>

<body>
  <div class="holy-grail-grid">
  <div class="holy-grail-header">
    <h3>Logo GPI</h3>
     <%= link_to "Log out", logout_path, method: :delete, class: "clear button alert" %>
  </div>

  <div class="holy-grail-left">
    <div class="portfolio-resume row">

      <div class="large-4 columns">
        <div class="portfolio-resume-wrapper">
          <img class="portfolio-resume-headshot" src="https://placehold.it/175" alt="headshot">
          <h3 class="portfolio-resume-header"><%= current_user.nombres + " " + current_user.apellidos %></h3>
          <ul>
            <li><%= current_user.tipo %></li>
            <li><%= current_user.email %></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="holy-grail-middle">
    <ul class="vertical menu align-center">
    <h3 align="center">¿Qué quieres hacer?</h3>
    <li><%= link_to "Crear solicitudes",  controller: "clientes_internos", action: "crear_solicitudes" %></li>
    <li><%= link_to "Ver solicitudes",  controller: "clientes_internos", action: "ver_solicitudes" %></li>
  </ul>
  </div>
</div>

<div class="row">
  <div class="col-3"> <h3>Content</h3> </div> <!-- 25% -->
  <div class="col-9"> <h3>Content</h3> </div> <!-- 75% -->
</div>

</body>
