<%= stylesheet_link_tag 'ver_solicitudes' %>

<h1 class="center">Ver Solicitudes</h1>

<table style="width:90%">
  <tr>
    <th class="center">Material</th>
    <th class="center">Cantidad</th>
    <th class="center">Bodeguero</th>
    <th class="center">Encargado</th>
    <th class="center">Prioridad</th>
    <th class="center">Estado</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr>
    <td class="center"><%= s.material %></td>
    <td class="center"><%= s.cantidad %></td>
    <td class="center"><%= @usuario_bo.nombres + " " + @usuario_bo.apellidos %></td>
    <% if s.encargado_id.nil?%>
      <td class="center">No asignado</td>
    <% else %>
      <td class="center"><%= s.encargado_id %></td>
    <% end %>
    <td class="center"><%= s.prioridad %></td>
    <td class="center">
      <ol class="progress-indicator">
      <% if s.estado == "Rechazado"%>
        <li class="is-complete" data-step="1">
        <span>Rechazado</span>
        </li>
        <li data-step="">
        <span>Espera de cotización</span>
        </li>
        <li data-step="">
        <span>Pendiente</span>
        </li>
        <li data-step="">
        <span>Finalizado</span>
        </li>
      <% elsif s.estado == "En revisión"%>
        <li class="is-complete" data-step="1">
        <span>Aprobado</span>
        </li>
        <li class="is-current" data-step="2">
        <span>Espera de cotización</span>
        </li>
        <li class="is-current" data-step="3">
        <span>Pendiente</span>
        </li>
        <li class="is-current" data-step="4">
        <span>Finalizado</span>
        </li>
      <% elsif s.estado ==  "Espera de cotización"%>
        <li class="is-complete" data-step="1">
        <span>Aprobado</span>
        </li>
        <li class="is-complete" data-step="2">
        <span>Espera de cotización</span>
        </li>
        <li class="is-complete" data-step="3">
        <span>Pendiente</span>
        </li>
        <li class="is-complete" data-step="4">
        <span>Finalizado</span>
        </li>
      <% end %>
      </ol>

    </td>
  </tr>
  <% end %>
</table>
