<h1>Ver Solicitudes</h1>

<table style="width:90%">
  <tr>
    <th style="text-align:center;">Material</th>
    <th style="text-align:center;">Cantidad</th>
    <th style="text-align:center;" >Bodeguero</th>
    <th style="text-align:center;" >Encargado</th>
    <th style="text-align:center;">Prioridad</th>
    <th style="text-align:center;">Estado</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr>
    <td style="text-align:center;"><%= s.material %></td>
    <td style="text-align:center;"><%= s.cantidad %></td>
    <td style="text-align:center;"><%= @usuario_bo.nombres + " " + @usuario_bo.apellidos %></td>
    <% if s.encargado_id.nil?%>
      <td style="text-align:center;">No asignado</td>
    <% else %>
      <td style="text-align:center;"><%= s.encargado_id %></td>
    <% end %>
    <td style="text-align:center;"><%= s.prioridad %></td>
    <td style="text-align:center;"><%= s.estado %></td>
  </tr>
  <% end %>
</table>
