<%= stylesheet_link_tag 'ver_solicitudes' %>

<h1 align="center">Ver Solicitudes</h1>

<table style="width:90%">
  <tr>
    <th class="center">Material</th>
    <th class="center">Cantidad</th>
    <th class="center">Bodeguero</th>
    <th class="center">Encargado</th>
    <th class="center">Prioridad</th>
    <th class="center">Estado</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr>
    <div>
    <td class="center"><%= s.material %></td>
    <td class="center"><%= s.cantidad %></td>
    <td class="center"><%= @usuario_bo.nombres + " " + @usuario_bo.apellidos %></td>
    <% if s.encargado_id.nil?%>
      <td class="center">No asignado</td>
    <% else %>
      <td class="center"><%= s.encargado_id %></td>
    <% end %>
    <td class="center"><%= s.prioridad %></td>
    <td class="center">
      <%= s.estado%>
    </td>
  </tr>
  </div>
  <% end %>
</table>

<!--script src="assets/foundation_m/js/jquery.js"></script>
<script src="assets/foundation_m/js/what-input.js"></script>
<script src="assets/foundation_m/js/foundation.js"></script>
<script src="assets/javascripts/application.js"></script-->
