<h1>Nuevo usuario</h1>
<%= form_with scope: :usuario, local: true do |form| %>
  <p>
    <%= form.label :nombres %><br>
    <%= form.text_field :nombres %>
  </p>
 
  <p>
    <%= form.label :apellidos %><br>
    <%= form.text_field :apellidos %>
  </p>
  <p>
    <%= form.label :contrasena %><br>
    <%= form.text_field :contrasena %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>