<% provide(:title, "Crear despacho") %>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 large-auto column">
        <br><h1 align="center">Crear despacho</h1><br>
          <%= form_for(@despacho_nuevo, url:{:action=>'crear_despacho'}) do |s| %>

          <%= render 'shared/error_despacho' %>

          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div><br>
          <% end %>

          <%= s.label :fecha %>
          <%= s.datetime_local_field :fecha, class: 'form-control', placeholder: 'Fecha' %>

          <%= s.label :orden_id %>
          <%= s.number_field :orden_id, min: 0, class: 'form-control', placeholder: 'Orden ID' %>

          <%= s.label :comentario %>
          <%= s.text_field :comentario, class: 'form-control', placeholder: 'Comentario' %>

          <%= s.label :estado %>
          <%= s.check_box :estado, class: 'form-control', placeholder: 'Estado' %><br>

          <%= s.submit "Crear despacho", class: 'button' %>
          <% end %>
       </div>
    </div>
</div>

<%= javascript_include_tag 'foundation_m/js/vendor/jquery' %>
<%= javascript_include_tag 'foundation_m/js/vendor/foundation' %>
