<% provide(:title, "Inventario") %>
<%= stylesheet_link_tag 'bodegueros_tablas' %>

<h1>Ver/modificar inventario</h1>

<%= button_to "Guardar materiales modificados", { action: 'guardar_materiales'}, class: "button" %>

<table style="width:90%">
  <tr class="center">
    <th class="center">Material</th>
    <th class="center">Cantidad</th>
    <th class="center">Tipo</th>
    <th class="center">Disponibilidad</th>
    <th class="center">Comentarios</th>
  </tr>
  <% @materiales.each do |s| %>
  <tr class="center" id="<%= s.id %>">
    <td class="center"><%= best_in_place s, :nombre, :as => :textarea, :url => bodegueros_update_inventario_path %></td>
    <td class="center"><%= s.cantidad %></td>
    <td class="center"><%= s.tipo %></td>
    <% if s.disponible == true %>
    <td class="center"> <span class="success label">Sí</span> </td>
    <% else %>
    <td class="center"> <span class="alert label">No</span> </td>
    <% end %>
    <td><%= s.comentario %></td>
  </tr>
  <% end %>
</table>

<script src="../foundation_m/js/vendor/jquery.js"></script>
<script src="../foundation_m/js/vendor/foundation.js"></script>
<script>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>
