<h1>Ver/modificar inventario</h1>

<%= button_to "Guardar materiales modificados", { action: 'guardar_materiales'}, class: "button" %>

<table style="width:90%">
  <tr>
    <th>Material</th>
    <th>Cantidad</th>
    <th>Tipo</th>
    <th>Disponibilidad</th>
    <th>Comentarios</th>
  </tr>
  <% @materiales.each do |s| %>
  <tr id="<%= s.id %>">
    <td><%= s.nombre %></td>
    <td><%= s.cantidad %></td>
    <td><%= s.tipo %></td>
    <% if s.disponible == true%>
    <td bgcolor="4D65E2">Sí</td>
    <% else %>
    <td bgcolor="FF5C60">No</td>
    <% end %>
    <td><%= s.comentario %></td>
  </tr>
  <% end %>
</table>

<script src="app/assets/foundation_m/js/vendor/jquery.js"></script>
<script src="app/assets/foundation_m/js/vendor/foundation.js"></script>
