<h1>Solicitudes</h1>

<%= button_to "Guardar solicitudes modificadas", { action: 'guardar_solicitudes'}, class: "button" %>

<table style="width:90%">
  <tr>
    <th>Material</th>
    <th>Encargado</th>
    <th>Cantidad</th>
    <th>Prioridad</th>
    <th>Aprobar</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr id="<%= s.id %>" >
    <td><%= s.material %></td>
    <td><%= s.encargado_id %></td>
    <td><%= s.cantidad %></td>
    <td><%= s.prioridad %></td>
    <td><%= form_for(s, url:{:action=>'update'}) do |s| %>
      <%= s.check_box :aprobado, class: "check" %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!-- javascript_include_tag "foundation_m/js/vendor/foundation" %-->
