<% provide(:title, "Solicitudes") %>
<%= stylesheet_link_tag 'bodegueros_tablas' %>

<h1>Solicitudes</h1>

<%= button_to "Guardar solicitudes modificadas", { action: 'guardar_solicitudes'}, class: "button" %>

<table style="width:90%">
  <tr>
    <th class="center">Material</th>
    <th class="center">Encargado</th>
    <th class="center">Cantidad</th>
    <th class="center">Prioridad</th>
    <th class="center">Aprobar</th>
  </tr>
  <% @solicitudes.each do |s| %>
  <tr id="<%= s.id %>" >
    <td class="center"><%= s.material %></td>
    <td class="center"><%= s.encargado_id %></td>
    <td class="center"><%= s.cantidad %></td>
    <td class="center"><%= s.prioridad %></td>
    <td class="center"><%= form_for(s, url:{:action=>'update'}) do |s| %>
      <%= s.check_box :aprobado, class: "check" %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!-- javascript_include_tag "foundation_m/js/vendor/foundation" %-->
